build/*
out/*
!build/templates
bin/*
!bin/media/
*.lib
/.vs
/hYaml/hYaml.dir/Debug/hYaml.tlog
/hYaml/hYaml.dir/Debug
/hTool/hTool.dir/Debug
/hContainer/hContainer.dir/Debug
/hThread/hThread.dir/Debug
